body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
    font-weight:700;
}
.orange-color{
    color:orange;
}
.flexible{
    display:flex;
    margin-bottom:100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size:cover;
    background
}

.two-width{
    width:50%;
    margin-left:8%;
}
.two-width img{
    width:80%;
}
.hire-button{
    text-decoration:none;
    background-image:linear-gradient(red,orange);
    padding: 10px 40px;
    color:white;
    border-radius:5px;
}
.second-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.last-banner{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;
}
.last-width{
    width:40%;
    margin-left:5%;
    margin-right: 5%;
    
    border-radius:5px;
    box-shadow:10px 10px 20px;
    padding:20px;
    border-image:linear-gradient(cyan,blue);
    border-image-slice:1;
    border-left:10px solid;
}
.last-head{
    font-size:30px;
}
footer{
    text-align:center;
}